*{
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.7 ),
            rgba(0, 0, 0, 0.7)
        ),
        url('./images/homePageBG.webp');
    z-index: -1;
}


h1{
    font-size: 3rem;
    background-color: rgb(121, 0, 0);
    color: white;
    padding: 0.25rem;
}