body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.7 ),
            rgba(0, 0, 0, 0.7)
        ),
        url('./images/homePageBG.webp');
    z-index: -1;
}